@use "../abstracts" as *;

.menu {
  position: absolute;
  width: 100%;
  transform: translateY(-150%);
  transition: transform 0.2s;
  .menuRow {
    display: flex;
    padding: 1rem 1.5rem;
    justify-content: space-between;
    background-color: $blue;
    color: #fff;
    margin-bottom: 1px;
  }
}

.showMenu {
  transform: translateY(0);
}